.section-6 {
  margin-top: -90px;
  width: 100%;
  background: linear-gradient(rgb(64, 50, 148), rgb(76, 154, 255)) no-repeat;
  border-radius: 0.5rem;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75;
    color: $white;
    font-weight: 500;
  }

  > form {
    display: flex;
    align-items: center;
    gap: 16px;
    .input {
      background-color: $white;
      min-width: 375px;
    }
  }
}
