@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --green: #22a75d;
  --black: #0f1320;
  --dark: #171B29;
  --blue: #2278d4;
  --blue-50: #00B4EC;
  --white: white;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.text-green {
  color: var(--green) !important;
}

.hover-size:hover {
    transform: scale(1.06);
    transition: .2s ease-in-out;
}
