$white: white;
$color-g100: #eeebff;
$color-g200: #dfe1e6;

$color-t500: #008da6;
$color-t400: #00a3bf;
$color-t300: #00b8d9;
$color-t200: #00c7e6;
$color-t100: #79e2f2;
$color-t75: #79e2f2;

$color-b500: #0747a6;
$color-b400: #0052cc;
$color-b300: #0065ff;
$color-b200: #2684ff;
$color-b100: #4c9aff;
$color-b75: #b3d4ff;

$color-n900: #091E42;
$color-n800: #172B4D;
$color-n700: #253858;
$color-n600: #344563;
$color-n500: #42526E;
$color-n400: #505F79;
$color-n300: #5E6C84;
$color-n200: #6B778C;
$color-n100: #7A869A;
