@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: normal;
  font-family: "Nunito Sans", sans-serif;
  background-color: #eeebff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea,
button {
  border: none;
  outline: none;
  overflow: auto;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header:hover {
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}
.header .header-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header-container .menu {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.header .header-container .menu li {
  padding: 20px 16px 16px 16px;
}
.header .header-container .menu li a {
  display: flex;
  align-items: center;
}
.header .header-container .menu li a:hover {
  color: #0065ff;
}
.header .header-container .menu li a:hover i::before {
  color: #0065ff;
}
.header .header-container .menu li a i {
  font-size: 11px;
  margin-left: 4px;
}
.header .header-container .menu .logo img {
  width: 109.688px;
  height: 22px;
}
.header .header-container .login {
  display: flex;
  align-items: center;
}
.header .header-container .login li {
  padding: 17px 28px;
  font-size: 1.2rem;
}
.header .header-container .login .register {
  display: flex;
  align-items: center;
  min-width: 208px;
  height: 100%;
  background-color: #0065ff;
  cursor: pointer;
}
.header .header-container .login .register:hover {
  background-color: #0052cc;
}
.header .header-container .login .register a {
  color: white;
}

.input {
  padding: 11.8px 12px 12.8px 12px;
  background-color: transparent;
  border: 1px solid #dfe1e6;
  font-size: 1rem;
  border-radius: 0.3rem;
  max-width: 376px;
  transition: all 250ms ease-out 0s;
}
.input:focus {
  outline: none;
  outline: 2px solid #091E42;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065ff;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: all 250ms ease-out 0s;
  padding: 0.7rem 1rem 0.7rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  width: fit-content;
}
.button:hover {
  background-color: #0747a6;
}

.button-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  color: #091E42;
  font-weight: 500;
  font-size: 1rem;
  transition: all 250ms ease-out 0s;
  padding: 0.85rem 1.1rem 0.85rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  width: fit-content;
}
.button-input:hover {
  background-color: rgb(209, 240, 255);
}

.footer {
  background-color: #172B4D;
}
.footer .row-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 16px 0;
}
.footer .row-1 .logo {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 1rem;
}
.footer .row-1 .logo img {
  max-width: 125px;
}
.footer .row-1 .logo a {
  padding: 0;
  padding-bottom: 16px;
}
.footer .row-1 a {
  padding: 16px;
}
.footer .row-1 a h3 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 8px;
}
.footer .row-1 a p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  text-size-adjust: 100%;
}
.footer .row-1 a:hover {
  background-color: #42526E;
}
.footer .line {
  border-bottom: 1px solid #7A869A;
  max-width: 1322px;
  margin: 0 auto;
}
.footer .row-2 {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.footer .row-2 .language {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.footer .row-2 .language .input {
  border: none;
  padding: 0;
  margin: 0 5px;
  max-width: 126px;
  font-weight: 500;
}
.footer .row-2 .language i {
  display: flex;
  align-items: center;
}
.footer .row-2 .language i img {
  width: 20px;
  height: 20px;
}
.footer .row-2 .copyright {
  margin-right: 70px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer .row-2 .copyright a {
  font-size: 0.75rem;
}
.footer .row-2 .social {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(5, 24px);
  justify-content: space-between;
}
.footer .row-2 .social a {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(23, 43, 77);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  height: 24px;
  width: 24px;
}
.footer .row-2 .social a img {
  height: 60%;
  transition: all 0.15s ease 0s;
  width: 60%;
  margin: auto !important;
}

footer * {
  color: white;
}

.section-1 {
  margin-top: 126px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #dfe1e6;
  padding-bottom: 70px;
}
.section-1 .col-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 633px;
  padding: 0 16px;
}
.section-1 .col-1 h1 {
  font-size: 3rem;
  line-height: 1.25;
  color: #091E42;
  margin-bottom: 8px;
}
.section-1 .col-1 p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.section-1 .col-1 span {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 375px 1fr;
  column-gap: 16px;
}
.section-1 .col-1 .assita {
  margin-top: 16px;
  display: flex;
  width: 100%;
  color: #0052cc;
  letter-spacing: 0.07rem;
  font-weight: 600;
  text-decoration: underline;
  padding: 11.2px 16px 12.8px 16px;
}
.section-1 .col-1 .assita img {
  width: 24px;
  margin-left: 10px;
}
.section-1 .col-2 {
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.section-1 .col-2 img {
  width: 100%;
  max-width: 368px;
  max-height: 450.391px;
}

.section-2 {
  display: flex;
  padding: 1rem 0;
  border-bottom: 2px solid #dfe1e6;
  padding-bottom: 70px;
}
.section-2 .card {
  display: flex;
}
.section-2 .card .card-image {
  display: block;
  flex: 0 0 auto;
  padding: 16px;
  width: 103px;
}
.section-2 .card .card-texts {
  padding: 16px;
  height: 241px;
}
.section-2 .card .card-texts .card-texts-flex {
  width: 100%;
  max-width: 253px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-2 .card .card-texts .card-texts-flex h3 {
  font-size: 1.38rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #091E42;
}
.section-2 .card .card-texts .card-texts-flex p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px 16px 16px 16px;
}
.section-3 h2 {
  font-size: 2.1875rem;
  color: #091E42;
  margin-bottom: 8px;
}
.section-3 p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 24px;
}
.section-3 img {
  margin-top: 32px;
  max-width: 951px;
}
.section-3 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 160px;
  flex-wrap: wrap;
}
.section-3 .icons img {
  max-width: 162px;
}

.section-4 {
  margin-top: 30px;
}
.section-4 .text-no-photo {
  width: 50%;
  padding-bottom: 45px;
}
.section-4 .text-no-photo h2 {
  font-size: 2.25rem;
  line-height: 1.33333;
  color: #091E42;
  font-weight: 700;
  letter-spacing: 0.01rem;
}
.section-4 .text-no-photo p {
  margin-top: 8px;
  font-size: 1.25rem;
}
.section-4 .card {
  margin-bottom: 64px;
  display: flex;
}
.section-4 .card .image {
  width: 41.6667%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4 .card .text {
  width: 58.3333%;
  padding: 1rem;
  color: #091E42;
}
.section-4 .card .text .mini-title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.section-4 .card .text h2 {
  font-size: 2.25rem;
  color: #091E42;
  padding-bottom: 16px;
  margin-bottom: 8px;
}
.section-4 .card .text .paragraph {
  font-size: 1.25rem;
  color: #091E42;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 1.5rem;
}
.section-4 .card .text a {
  font-size: 1.43rem;
  font-weight: 700;
  opacity: 0.9;
}

.section-5 {
  width: 100%;
  background-color: #e6fcff;
}
.section-5 .container {
  padding: 80px 165px 180px;
}
.section-5 .container > div {
  position: relative;
}
.section-5 .container > div img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: -52px;
}
.section-5 .container > div h2 {
  font-size: 2.25rem;
  line-height: 1.34;
  position: relative;
  font-weight: 500;
  color: #091E42;
}
.section-5 .container > div > div {
  margin-top: 20px;
  position: relative;
}
.section-5 .container > div > div .mini-text {
  display: flex;
  gap: 80px;
  color: #344563;
}
.section-5 .container > div > div .ebay-logo {
  position: absolute;
  right: 140px;
  top: 0;
}
.section-5 .container > div > div .ebay-logo img {
  max-width: 220px;
  max-height: 66px;
  height: auto;
  width: auto;
}

.section-6 {
  margin-top: -90px;
  width: 100%;
  background: linear-gradient(rgb(64, 50, 148), rgb(76, 154, 255)) no-repeat;
  border-radius: 0.5rem;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.section-6 h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75;
  color: white;
  font-weight: 500;
}
.section-6 > form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-6 > form .input {
  background-color: white;
  min-width: 375px;
}

.section-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 16px;
}
.section-7 p {
  font-size: 1.25rem;
  color: #091E42;
  margin-right: 8px;
}
.section-7 .logo-stores {
  width: 157px;
  height: 46px;
  margin: 0 8px;
}